<extend name="Common/common" />

<block name="main">
<style type="text/css">
	#backindex { background: #e41635 }/* 高亮选中颜色 */
</style>
	<div class="ibody">
	  <include file="Common/navheader"/> <!--顶部-->
	  
	  <article >
	    <div class="banner">
	       <ul class="texts">
	        <p>The best life is use of willing attitude, a happy-go-lucky life. </p>
	        <p>最好的生活是用心甘情愿的态度，过随遇而安的生活。</p>
	      </ul>
	    </div>
	    
	    
	    <div class="bloglist">
	      <h2>
	        <p><span>博客</span>详情</p>
	      </h2>
	     </div>
	      <h2 class="c_titile"><{$datacontent.title}></h2>
	      <p class="box_c"><span class="d_time">发布时间：<{$datacontent.time}></span><span>编辑：<{$datacontent.author}></span><span>浏览（<{$datacontent.volume}>）</span></p>
	      
	      <div style="padding-left:20px;padding-right:5px;">
	         <{$datacontent.content}>
	      </div>
	      
	      
	      <div class="keybq">
	        <p><span>关键字词</span>：切切歆语,个人博客</p>
	      </div>
	    
	  </article>
	
	
	
	  <aside>
	    <div class="avatar"><a href="about.html"><span>切切歆语</span></a></div>
	    <div class="topspaceinfo">
	      <h1>快乐到家,笑傲江湖</h1>
	      <p>于千万人之中，我遇见了我所遇见的人....</p>
	    </div>
	    <div class="about_c">
	      <p>网名：切切歆语 | DickyQie</p>
	      <p>职业：Android、PHP工程师 </p>
	      <p>籍贯：四川省―泸州市</p>
	      <p>电话：18523978916</p>
	      <p>邮箱：zhangqiem@162.com</p>
	    </div>
	    <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
	    <div class="tj_news">
	      <h2>
	        <p class="tj_t1">最新文章</p>
	      </h2>
	      <ul>
	        <li><a href="/">犯错了怎么办？</a></li>
	        <li><a href="/">两只蜗牛艰难又浪漫的一吻</a></li>
	        <li><a href="/">春暖花开-走走停停-发现美</a></li>
	        <li><a href="/">琰智国际-Nativ for Life官方网站</a></li>
	        <li><a href="/">个人博客模板（2014草根寻梦）</a></li>
	        <li><a href="/">简单手工纸玫瑰</a></li>
	        <li><a href="/">响应式个人博客模板（蓝色清新）</a></li>
	        <li><a href="/">蓝色政府（卫生计划生育局）网站</a></li>
	      </ul>
	      <h2>
	        <p class="tj_t2">推荐文章</p>
	      </h2>
	      <ul>
	        <li><a href="/">犯错了怎么办？</a></li>
	        <li><a href="/">两只蜗牛艰难又浪漫的一吻</a></li>
	        <li><a href="/">春暖花开-走走停停-发现美</a></li>
	        <li><a href="/">琰智国际-Nativ for Life官方网站</a></li>
	        <li><a href="/">个人博客模板（2014草根寻梦）</a></li>
	        <li><a href="/">简单手工纸玫瑰</a></li>
	        <li><a href="/">响应式个人博客模板（蓝色清新）</a></li>
	        <li><a href="/">蓝色政府（卫生计划生育局）网站</a></li>
	      </ul>
	    </div>
	    
	    <div class="links">
	      <h2>
	        <p>友情链接</p>
	      </h2>
	      <ul>
	        <li><a target="_blank" href="http://blog.csdn.net/dickyqie">CSDN个人博客</a></li>
	        <li><a target="_blank" href="http://www.cnblogs.com/zhangqie/">个人博客园</a></li>
	        <li><a target="_blank" href="https://github.com/DickyQie">GitHub</a></li>
	      </ul>
	    </div>
	
	    <div class="copyright">
	      <ul>
	        <p> Design by <a href="/">DanceSmile</a></p>
	        <p>蜀ICP备11002373号-1</p>
	        </p>
	     </ul>
	    </div>
	  </aside>
	  <include file="Common/footer"/> <!--顶部-->
	</div>
</block>
