<extend name="Common/common" />

<block name="main">
<style type="text/css">
	#backmessage { background: #e41635 }/* 高亮选中颜色 */
</style>
<div class="ibody">
 <header>
  <include file="Common/navheader"/> 
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="1/">留言板</a></h2>
  
  	<form id="form" name="form" method="post" action="<{:U('addmsg')}>" enctype="multipart/form-data">
         <div class="form-group">
             <input name="name" id="name" type="text"  class="form-control" placeholder="Name"  autocomplete="off">
         </div>
         <div class="form-group">
             <input name="email" id="email" type="email" class="form-control" placeholder="Email" autocomplete="off">
         </div>
          <div class="form-group">
             <textarea class="form-control" name="content" rows="6" placeholder="Your Message" id="content"></textarea>
         </div>
         <button type="submit" class="btn btn-primary messagesub">畅言一下</button>
    </form>
     
  </article>
  <aside>
    <div class="rnav">
      <li class="rnav1 "><a href="/">个人博客模板</a></li>
      <li class="rnav2 "><a href="/">企业网站模板</a></li>
      <li class="rnav3 "><a href="/">个人作品</a></li>
      <li class="rnav4 "><a href="/">国外html5模板</a></li>
    </div>
    <div class="ph_news">
      <h2>
        <p>点击排行</p>
      </h2>
      <ul class="ph_n">
        <li><span class="num1">1</span><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>
        <li><span class="num2">2</span><a href="/">励志人生-要做一个潇洒的女人</a></li>
        <li><span class="num3">3</span><a href="/">女孩都有浪漫的小情怀――浪漫的求婚词</a></li>
        <li><span>4</span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>
        <li><span>5</span><a href="/">女生清新个人博客网站模板</a></li>
        <li><span>6</span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>
        <li><span>7</span><a href="/">Column 三栏布局 个人网站模板</a></li>
        <li><span>8</span><a href="/">时间煮雨-个人网站模板</a></li>
        <li><span>9</span><a href="/">花气袭人是酒香―个人网站模板</a></li>
      </ul>
    </div>
     <div class="copyright" style="margin-bottom:130px;">
      <ul>
      	<p>Copyright @ 2016 ZhangQie. <a href="#">&nbsp;All Rights Reserved</a></p>
      </ul>
    </div>
  </aside>
   <include file="Common/footer"/>
</div>

<script>
	$('form').submit(function(){
		var name = $("#name").val();
		var email = $("#email").val();
		var content = $("#content").val();
		if(name == ''){
			layer.msg('请输入名称',{time:1000});
			return false;
		}
		if(email == ''){
			layer.msg("请输入邮箱",{time:1000});
			return false;
		}
		if(content == ''){
			layer.msg("请输入留言内容",{time:1000});
			return false;
		}
	});
</script> 

</block>

