<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<p id="content"></p>
<div id="content2"><{$codemap}></div>


<p><img width="530" height="340" src="http://api.map.baidu.com/staticimage?center=116.404,39.915&zoom=10&width=530&height=340&markers=116.404,39.915"/></p><ol class=" list-paddingleft-2" style="list-style-type: decimal;"><li><p>索大法</p></li><li><p>地方<br/></p></li></ol>


uot;&gt;13、一行代码完成Android 7 FileProvider适配&lt;/h4&gt;&lt;blockquote style=&quot;margin: 10px 5px; border-left: 2px solid #009688; padding: 0px 10px; color: #777777; quotes: none; margin-left: 1em&quot;&gt;&lt;p style=&quot;margin: 1.5em 5px !important&quot;&gt;项目地址&lt;/p&gt;&lt;p style=&quot;margin: 1.5em 5px !important&quot;&gt;https://github.com/hongyangAndroid/FitAndroid7&lt;/p&gt;&lt;/blockquote&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;
<script type="text/javascript">
		username=document.getElementById("content");  // 找到元素
	// var username  = $("#content");
	 
		con2=document.getElementById("content2").val;
		
	    username.innerHTML=con2;
	// <{$codemap}>
	 
</script>
</body>
</html>