
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">

<title>切切歆语</title>

<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js" ></script>
<link href="__PUBLIC__/css/base.css" rel="stylesheet">
<link href="__PUBLIC__/css/media.css" rel="stylesheet">



<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<!--Layer-->
<script src="__PUBLIC__/static/layer/layer.js"></script>


<!--sdf  -->

<link href="__PUBLIC__/css/index.css" rel="stylesheet">


<link href="__PUBLIC__/css/style.css" rel="stylesheet">


<link href="__PUBLIC__/css/about.css" rel="stylesheet">

<link rel="stylesheet" href="__PUBLIC__/css/message.css"/>












