<extend name="Common/common" />

<block name="main">
<style type="text/css">
	#backaboutn { background: #e41635 }/* 高亮选中颜色 */
</style>
<div class="ibody">
    <include file="Common/navheader"/> <!--顶部-->
  <article>
    <h3 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="1/">关于我</a></h3>
    <div class="about">
      <h2>Just about me</h2>
      <ul>
        <p>张切，男，一个90后的小伙子！15年入行，从业已经有快三年多了,走出大学门，进入社会后，慢慢的已经过去这么久了，当然也学到了好多东西，回首往事，还是值得回味的。</p>
        <p>人生就是一个得与失的过程，出来的第一份工作在重庆，做Android开发，后来辗转来到贵州，慢慢的从新手变成大神，很开心，那些熬夜的日子回想起来也是一种享受，期间除了学习Android新知识和做项目之外，还学习了后台语言PHP，小程序，WebAPP等</p>
        <p>在这条路上，前两年几乎都在弄Android,2017年开始进入后台学习，PHP----吸引了我，就这样我成为公司后台的一员，如今已经能独立开发了，心里很爽。</p>
        <p>人生逍遥乐对，红尘千般滋味；做人就好比游泳，游累了也是不能停的 </p>
      </ul>
      <h2>About my blog 切切歆语博客</h2>
      <ul class="blog_a">
        <p>CSDN：<a href="http://blog.csdn.net/DickyQie" class="blog_link" target="_blank">http://blog.csdn.net/DickyQie</a></p>
        <p>博客园：<a href="http://www.cnblogs.com/zhangqie/" class="blog_link" target="_blank">http://www.cnblogs.com/zhangqie/</a></p>
        <p>GitHub：<a href="https://github.com/DickyQie" class="blog_link" target="_blank">https://github.com/DickyQie</a></p>
        <p>微信公众号：切切歆语</p>
        <img src="__PUBLIC__/images/qrcode.jpg"></img>
      </ul>
    </div>
  </article>
  <aside>
    <div class="avatar"><a href="about.html"><span>关于歆语</span></a></div>
    <div class="topspaceinfo">
      <h1>快乐到家,笑傲江湖</h1>
      <p>于千万人之中，我遇见了我所遇见的人....</p>
    </div>
    <div class="about_c" style="margin-bottom:190px;">
      <p>网名：切切歆语 | DickyQie</p>
      <p>职业：Android、PHP工程师 </p>
      <p>籍贯：四川省―泸州市</p>
      <p>电话：185********</p>
      <p>邮箱：zhangqiem@126.com</p>
      <!-- <p><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=HHh9cn95b3F1cHVye1xtbTJ-c3E" ><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png" alt="杨青个人博客网站"></a></p>
      <p> 
        以下是QQ邮件列表订阅嵌入代码<a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=65fb9b3618916f162973471ebc5b97ff786efae0ec9a863e"><img border="0" alt="填写您的邮件地址，订阅我们的精彩内容：" src="http://rescdn.list.qq.com/zh_CN/htmledition/images/qunfa/manage/picMode_light_m.png" /></a> </p> -->
    </div>
  </aside>
 <include file="Common/footer"/>
</div>
</block>
